/* Smaller anchor icon for permalinks */
.container .posts-expand .post-body .header-anchor {
    float: none;
}
.container .header-anchor i.fa {
    font-size: 0.8em;
}

/* Larger icon in header navi bar */
.site-nav .menu .menu-item-icon.fa {
    font-size: 1.6em;
}

/* Only apply to post titles */
.container:not(.page-home) #posts.posts-expand .post-block:not(.page) .post-title {
    font-size: 2em;
}

/* Reduce space between site title and content */
.container .header-inner {
    padding-bottom: 10px;
}

/* Remove border around img */
.container .post-block img {
    border: none;
}

/* Fancier site title */
.brand {
    border-radius: 20px 1px 20px 1px;
    padding: 0px 20px;

    /* For some reason, I must manually specify the height,
       otherwise the element gets too tall */
    height: 36px;
}

.brand .logo-line-before i::before {
    content: "all_inclusive";
    display: inline;
    margin-right: 10px;

    font-family: 'Material Icons';
    /* Preferred icon size */
    font-weight: normal;
    font-style: normal;
    font-size: 24px;

    /* Line height same as main site title */
    line-height: 36px;

    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Make color of sidebar toggle to be white all the time */
.page-post-detail .sidebar-toggle-line-wrap .sidebar-toggle-line {
    background: #fff;
}

/* A special inline version of the all-inclusive icon */
.material-icons.inline.all-inclusive {
    position: relative;
    top: 4px;
    font-size: 20px;
}

/* Email tooltip style */
#email_tooltip .jBox-container {
    background: #222;
    color: #eee;
}
#email_tooltip .jBox-pointer::after {
    background: #222;
}
#email_tooltip a {
    color: #eee;
    border-bottom: 1px solid #888;
}
#email_tooltip a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}
#email_tooltip span.small {
    color: #999;
    font-size: 14px;
}