/* Smaller anchor icon for permalinks */
.container .posts-expand .post-body .header-anchor {
    float: none;
}
.container .header-anchor i.fa {
    font-size: 0.8em;
}

/* Larger icon in header navi bar */
.site-nav .menu .menu-item-icon.fa {
    font-size: 1.6em;
}

/* Only apply to post titles */
.container:not(.page-home) .post-block:not(.page) .post-title {
    font-size: 2em;
}

/* Reduce space between site title and content */
.container .header-inner {
    padding-bottom: 10px;
}

/* Remove border around img */
.container .post-block .fancybox img {
    border: none;
}